# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# .NET
*.dll
*.pdb
*.exe
*.runtimeconfig.json

# MAUI / Android
*.apk
*.aab

# Cache / temp
*.cache
*.dtbcache*
*.bin
*.log

# OS
.DS_Store
Thumbs.db
